*:focus {
    outline: none;
}

*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#container{
    width: 95%;
    height: auto;
    margin: 0px auto;
    border: 10px solid rgba(28, 28, 214, 0.8);
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 850px;
}

#header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;  
    height: 120px;
    border-bottom: 12px solid rgb(167 222 220 / 80%);
    /*background-image: url(imag/headeer2.png);*/
    background: linear-gradient(180deg, #48C2E9 0%, rgba(159, 206, 206, 0) 57.81%), linear-gradient(180deg, rgba(31, 160, 145, 0.69) 17.19%, rgba(43, 191, 201, 0) 86.98%, rgba(177, 177, 177, 0) 100%), rgba(28, 131, 146, 0.89);
    background-blend-mode: multiply, color-burn, multiply;
}

#barraBuscador{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;  
    border-bottom: 12px solid rgb(167 222 220 / 80%);
    /*background-image: url(imag/headeer2.png);*/
    background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
    background-blend-mode: multiply, color-burn, multiply;
}
.buscador{
    height: 30px;
    background: linear-gradient(180deg, #ffff 15.1%, rgba(242, 212, 56, 0) 57.81%), #FFFF;
    border-radius: 14px;
    font-weight: 400;
    font-size: 14px;
    margin: 10px 10px;
}

.buscador-texto{     
    width: 280px;
    border-width: 0px;
    padding: 0 5px;
}


.buscador-boton {
    cursor: pointer;
    width: 40px;
} 

.buscador-boton >img {
    width: 20px ;
    height: auto;
} 


.barra{
    flex-grow: 1;
    flex-basis: 5%;
    padding: 20px;
    margin-left: ;
    text-transform: uppercase;    
}






.logo{
    flex-grow: 1;
    flex-basis: 5%;
    padding: 20px;
    margin-left: ;   
}




#menu{
    flex-grow: 1;
    flex-basis: 30%;
    height: 100%;
    padding-right: 10px;
}

#menu > ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    list-style: none;
}

#menu a{
    text-transform: uppercase;
    color:#66EAA3;
    padding: 10px;
    transition: all 300ms;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

#menu a:hover{
    /*background: rgb(241, 200, 13);*/
    color: rgb(241, 200, 13);
}

#content{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

#pokedex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.data1{
    text-align: center;
    flex-grow: 1;
    flex-basis: 150px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    margin-right: 25px;
}

img{
    width: 65%;  
}

.imgPkm{
    border-radius: 50%;
    background: repeating-linear-gradient(45deg, #0c06069e, white 100px);
}




.number{
    background: linear-gradient(180deg, #1FC7D1 0%, rgba(255, 255, 255, 0) 100%), #2BC7A1;
}

p{
  font-size: 16px;
  color: #064C63;
  transition: all 300ms; 
  font-weight: 900;
  padding: 5px; 
}


.row{
    display: flex;
}

@media (max-width: 550px) {
    .barra {
      display: grid;
    }
  }





