*:focus {
    outline: none;
}
* {
    margin:0;
    padding:0;
}

.contenedor{    
display: flex;
flex-direction: row;
background: linear-gradient(180deg, #0E7D84 0%, rgba(255, 255, 255, 0) 100%), #15A481;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row;
    margin: 0px 38px 0px 40px;;   
    padding: 5px; */
}

.options{
    display: flex;
}

.icono{
    display: flex;   
} 


.opcion{
    margin: 8px 0px;
}


a{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;;
    line-height: 29px;
    text-align: center;
    margin-left: 32px;
    color: #66EAA3;
}

a:hover{
    color: rgba(243, 185, 33, 1);
}


h2{   
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #66EAA3;
}

p{ 
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 900;
  padding: 3px;
}

#order{
    width: 105%;
    height: 55px;
    cursor: pointer;
    background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 25px 40px;
}

#type{
    width: 125%;
    height: 55px;
    cursor: pointer;
    background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 25px 0;
}

#generation{
    width: 144%;
    height: 55px;
    cursor: pointer;
    background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 25px 40px;
}

.button{    
    width: 280px;   
    height: 40px;
    cursor: pointer;
    background: linear-gradient(180deg, #ffff 15.1%, rgba(242, 212, 56, 0) 57.81%), #FFFF;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin:25px;
    padding:5px;
}

.button11 {
    height: 48px;
    cursor: pointer;
    background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
 
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 31px;
    margin: 25px 20px;
    padding: 5px;
} 

.button2 {    
    height: 50px;
    cursor: pointer;
    background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
    border: #E3C734;   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 22px;   
}

.button3 {
    height: 48px;
    cursor: pointer;
    background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 31px;
    margin: 25px 0px;
    padding: 5px;
}    

.number{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    background: linear-gradient(180deg, #1FC7D1 0%, rgba(255, 255, 255, 0) 100%), #2BC7A1;
    border-radius: 40px;
}

main{
    background-image: url(imag/aqu12fondo.svg);
    min-height: 670px;
    height: 600px;
    overflow: auto;
    margin-left: 55px;

}

#Layout{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;  
}

.dataGeneral{
    display: flex;
   
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 5px;
}



.data1{

    display: inline-flex;
    font-weight: 900;
    text-align: center;
    /* color: cadetblue; */
    color: #064C63;
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 20px;
    font-weight: 900;
    padding: 25px;
    transition:2s; 
    
}

.data1:hover{
    transition:1s;
    transform: scale(0.99);
}

   
.imgPkm { 
    border-radius: 50%;
    background: repeating-linear-gradient(45deg, #0c06069e, white 100px);
    margin: 2px;
    width: 135px;
    height: 130px;
    border: 3px solid rgb(234 234 234 / 16%);
    background-size: 400% 300%;
    animation: BgGradient 7s ease;
}

@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/*Esta es la ventana de infomacion de cada pokemon/*/

.name2 { 
    font-size: 24px;;
}

#dialogo{
    z-index: 12;
    display: flex;
    background-color: rgba(220,220,220,0.42);
    opacity: 1;
    width: 100vw;
    height: 111vh;
    position: absolute;
    top: 0;
}

.card2{
    background-image: url(imag/fondo-colorido_18866-29.jpg);
    margin: 35px;
    padding: 50px;
    display: inline-flex;
    flex-direction: column;

}

.imgPkm2{
    width:200px;
    height:210px;
}
 
.close{
    color:#8c8c8c;
  float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.generation{
   text-align: start;
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 100%), #e4a214;
 
}

.size{
    text-align: start;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 100%), #7fd42e;
}

.type{
    text-align: start;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 100%), #ee60f3;
}

.resistant{
    text-align: start;
    background: linear-gradient(180de, rgba(255, 255, 255, 0) 100%), #3d9ceb;
}

.weaknesses{
    text-align: start;
    background: linear-gradient(180de, rgba(255, 255, 255, 0) 100%), #ec483c;

}

.egg{
text-align: start;
    background: linear-gradient(180de, rgba(255, 255, 255, 0) 100%), #f5e44f;
}

/*------------footer------------------------*/

footer{
    width: 100%; 
    display: flex;
    flex-direction: row;
    padding: 5px;
	background: linear-gradient(180deg, #0E7D84 0%, rgba(255, 255, 255, 0) 100%), #15A481;
    color: white;    
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.row{
     display: flex;
}

.row img{
    width: 40px;
    height: 40px;
}

.row label{
    color: #ffffff;
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}