*:focus {
    outline: none;
}
* {
    margin:0;
    padding:0;
}

.contenedor{    
display: flex;
flex-direction: row;
padding: 5px;
background: linear-gradient(180deg, #0E7D84 0%, rgba(255, 255, 255, 0) 100%), #15A481;
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 38px 0px 40px;;   
    padding: 5px;
   
}

.options{
    display: flex;
}


.icono{
    display: flex;   
}


.opcion{
    margin: 20px;
    text-align: center;
    display: inline-flex;
}


a{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;;
    line-height: 29px;
    text-align: center;
    margin: 0px 0px 0px 100px;
    color: #66EAA3;
}

a:hover{
    color: rgba(243, 185, 33, 1);
}


h2{   
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #66EAA3;
}

p{ 
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 900;
  padding: 3px;
}


#order{
    width: 105%;
    height: 55px;
    cursor: pointer;
    background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 25px 40px;
}


#type{
    width: 125%;
    height: 55px;
    cursor: pointer;
    background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 25px 0;
}



#generation{
    width: 144%;
    height: 55px;
    cursor: pointer;
    background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 25px 40px;
}






.button{    
    width: 280px;   
    height: 40px;
    cursor: pointer;
    background: linear-gradient(180deg, #ffff 15.1%, rgba(242, 212, 56, 0) 57.81%), #FFFF;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin:25px;
    padding:5px;
}



.button11 {
    height: 48px;
    cursor: pointer;
    background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
 
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 31px;
    margin: 25px 20px;
    padding: 5px;
} 






.button2 {    
    height: 50px;
    cursor: pointer;
    background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
    border: #E3C734;   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 22px;   
}


.button3 {
        height: 48px;
        cursor: pointer;
        background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
     
        border-radius: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 31px;
        margin: 25px 0px;
        padding: 5px;
 } 
    
    

    

.number{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    background: linear-gradient(180deg, #1FC7D1 0%, rgba(255, 255, 255, 0) 100%), #2BC7A1;
    /*linear-gradient(180deg, #09747B 0%, rgba(255, 255, 255, 0) 100%), #058264;*/
    border-radius: 40px;
   /* font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 35px;
line-height: 88px;
text-align: center;
color: rgba(16, 119, 125, 1);
/*background:linear-gradient(180deg, rgba(19, 108, 103, 0) 46.88%, #10B1A8 85.42%, rgba(0, 123, 116, 0.890511) 99.48%), #058264;
opacity: 0.6;;

background: linear-gradient(180deg, #09747B 0%, rgba(255, 255, 255, 0) 100%), #058264;*/

}
main{
    background-image: url(imag/fondo-colorido_18866-29.jpg);
    min-height: 670px;
    height: 600px;
    overflow: auto;
    margin-left: 55px;

}

#Layout{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
    
   /* background: white;    aqui cambiar*/
    /* background-image: url(imag/cambio.svg); */
    /*background:  linear-gradient(180deg, #0E7D84 0%, rgba(255, 255, 255, 0) 100%), #15A481;;
    background: linear-gradient(180deg, #1EC0CA 4.69%, rgba(117, 220, 226, 0) 96.35%, rgba(255, 255, 255, 0) 100%), #0DA580;*/
}

.dataGeneral{
    display: flex;
   
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 5px;
   /* background: white;    aqui cambiar*/
    /* background-image: url(imag/cambio.svg); */
    /*background:  linear-gradient(180deg, #0E7D84 0%, rgba(255, 255, 255, 0) 100%), #15A481;;
    background: linear-gradient(180deg, #1EC0CA 4.69%, rgba(117, 220, 226, 0) 96.35%, rgba(255, 255, 255, 0) 100%), #0DA580;*/
}



.data1{
    /*width: 217px;
    display: inline-flex;
    font-weight: 900;
    text-align: center;
    /*color: cadetblue;
    color:  #064C63; 
     padding: 20px; 
    margin: 5px;
    background: rgba(200, 199, 199, 0.69); 
    border-radius: 20px;
    font-weight: 900;
    padding: 10px; */

    /* width: 155px; */
    display: inline-flex;
    font-weight: 900;
    text-align: center;
    /* color: cadetblue; */
    color: #064C63;
    padding: 20px;
    margin: 20px;
    background: white;
    /*background-image: url(imag/1221bonito.png);*/
    /*background: rgba(200, 199, 199, 0.50);*/
    border-radius: 20px;
    font-weight: 900;
    padding: 25px;
    -webkit-box-shadow: 1px 7px 13px 5px rgba(11,87,77,1); 
    transition:2s; 
    
}

.data1:hover{
    transition:1s;
    transform: scale(0.99);
}

   
.imgPkm { 
    border-radius: 50%;
    background: repeating-linear-gradient(45deg, #0c06069e, white 100px);
    margin: 2px;
    width: 135px;
    height: 130px;
    border: 3px solid rgb(234 234 234 / 16%);
    -webkit-box-shadow: 3px 12px 19px -1px rgb(1 59 62 / 90%);
    background-size: 400% 300%;
    animation: BgGradient 7s ease;
}

@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/*
.imgPkm:hover{
    transform:rotate3D(10, 5, 2, 290deg);
}*/

.acero{
    background-color: darkgray;
}

.agua{
    background-color: aqua;
}

.bicho{
    background-color: rgb(235, 233, 158);
}

.dragon{
    background-color: rgb(238, 137, 23);
}

.electrico{
    background-color: rgb(219, 173, 19);
}

.fantasma{
    background-color: bisque;
}

.fuego{
    background-color: red;
}

.hada{
    background-color: yellow;
}

.hielo{
    background-color: cornflowerblue;
}


.lucha{
    background-color: rgb(20, 101, 104);
}

.normal{
    background-color: rgb(172, 91, 91);
}

.planta{
    background-color: rgb(102, 173, 10);
}

.psiquico{
    background-color: rgb(9, 77, 82);
}

.roca{
    background-color: rgb(94, 94, 94);
}

.siniestro{
    background-color: darkgray;
}

.tierra{
    background-color: rgb(97, 44, 8);
}

.veneno{
    background-color: rgb(185, 28, 185);
}

.volador{
    background-color: rgb(133, 0, 160);
}

.johto{
    background-color: rgb(245, 80, 14); 
}

.kanto{
    background-color: rgb(47, 10, 133); 
}


.contenedorfooter{    
    height: 65px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    background: linear-gradient(180deg, #0E7D84 0%, rgba(255, 255, 255, 0) 100%), #15A481;
}

    


/*Esta es la ventana de infomacion de cada pokemon/
*/

.name2 { 
    font-size: 24px;;
}



#dialogo{
    z-index: 12;
    display: flex;
    background-color: rgba(220,220,220,0.42);
    opacity: 1;
    width: 100vw;
    height: 111vh;
    position: absolute;
    top: 0;
}





.card2{
    background-image: url(imag/fondo-colorido_18866-29.jpg);
    margin: 35px;
    padding: 103px;
    display: inline-flex;

}

.imgPkm2{
    width:200px;
    height:210px;
  }
 

 /*para que vibre
  .imgPkm2:hover{
    -webkit-animation: tiembla 0.1s infinite;
  }
  @-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-1deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.4); }
    500%{ -webkit-transform:rotateZ( 1deg); }
  }*/
 
.close{
    color:#8c8c8c;
  float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.generation{
   text-align: center;
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 100%), #e4a214;
 
}

.size{
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 100%), #7fd42e;
}

.type{
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 100%), #ee60f3;
}



.resistant{
    text-align: center;
    background: linear-gradient(180de, rgba(255, 255, 255, 0) 100%), #3d9ceb;
}

.weaknesses{
    text-align: center;
    background: linear-gradient(180de, rgba(255, 255, 255, 0) 100%), #ec483c;

}

.egg{
text-align: center;
    background: linear-gradient(180de, rgba(255, 255, 255, 0) 100%), #f5e44f;
}