
* {
    margin: 0;
    padding: 0;

}




.contenedor{
    
display: flex;
flex-direction: row;
margin:0 20px 0 20px;
padding: 5px;
background: linear-gradient(180deg, #0E7D84 0%, rgba(255, 255, 255, 0) 100%), #15A481;

}




.menu{


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 38px 0px 40px;;   
    padding: 5px;
   
    
}

.options{
    display: flex;
}


.icono{

    display: flex;
   
}


.opcion{

    margin: 35px;
    text-align: center;
    display: inline-flex;

}


a{

    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 0px 0px 0px 100px;
    color: #66EAA3;
}

a:hover{
    color: rgba(243, 185, 33, 1);
}


h2{
    
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  
    color: #66EAA3;
}

p{
 
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 900;
  padding: 3px;
}


#order{
    width: 120%;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
    border: #E3C734;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin:25px;

}


.button{
    
    height: 40px;
    cursor: pointer;
    background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
    border: #E3C734;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin:25px;
    padding: 5px;

}


.button2 {
    
    height: 50px;
    cursor: pointer;
    background: linear-gradient(180deg, #E3C734 15.1%, rgba(242, 212, 56, 0) 57.81%), #F7DA77;
    border: #E3C734;
   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 22px;
    

   
}


.number{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    background: linear-gradient(180deg, #1FC7D1 0%, rgba(255, 255, 255, 0) 100%), #2BC7A1;
    /*linear-gradient(180deg, #09747B 0%, rgba(255, 255, 255, 0) 100%), #058264;*/
    border-radius: 40px;

   /* font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 35px;
line-height: 88px;
text-align: center;
color: rgba(16, 119, 125, 1);
/*background:linear-gradient(180deg, rgba(19, 108, 103, 0) 46.88%, #10B1A8 85.42%, rgba(0, 123, 116, 0.890511) 99.48%), #058264;
opacity: 0.6;;

background: linear-gradient(180deg, #09747B 0%, rgba(255, 255, 255, 0) 100%), #058264;*/

}


#Layout{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 5px;
   /* background: white;    aqui cambiar*/
    background-image: url(imag/cambio.svg);
    /*background:  linear-gradient(180deg, #0E7D84 0%, rgba(255, 255, 255, 0) 100%), #15A481;;
    background: linear-gradient(180deg, #1EC0CA 4.69%, rgba(117, 220, 226, 0) 96.35%, rgba(255, 255, 255, 0) 100%), #0DA580;*/
}

.dataGeneral{
    display: inline-flex;
    margin-left: 55px;
}


.data1{
    /*width: 217px;
    display: inline-flex;
    font-weight: 900;
    text-align: center;
    /*color: cadetblue;
    color:  #064C63; 
     padding: 20px; 
    margin: 5px;
    background: rgba(200, 199, 199, 0.69); 
    border-radius: 20px;
    font-weight: 900;
    padding: 10px; */

    width: 155px;
    display: inline-flex;
    font-weight: 900;
    text-align: center;
    /* color: cadetblue; */
    color: #064C63;
    padding: 20px;
    margin: 20px;
    background: rgba(200, 199, 199, 0.69);
    border-radius: 20px;
    font-weight: 900;
    padding: 25px;
}

   


.imgPkm { /*
    margin: 25px;
    width: 90px;
    height: 90px;

    border: 35px solid rgba(0, 0, 0, 0.1);*/
    
    margin: 2px;
    width: 135px;
    height: 130px;
    border: 10px solid rgba(0, 0, 0, 0.1);

}



/*
.namePoke{
    border: 5px solid rgba(0, 0, 0, 0.3);
}*/
